.banner
{
    list-style: none;
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: bold;
    display: inline-block;
    padding-left: 10%;
}

.adminPanel,.userPanel
{
    list-style: none;
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: bold;
    float: right;
    padding-left: 2%;
    padding-right: 1%;
    color: black;
}

ul{
    margin: 0%;
    padding: 0%;
    padding: 2% 0 2% 0;
}

.nav
{
    box-shadow: 2px 2px 5px 2px #ccc;
    text-align: center;
}