.container 
{
    position: relative;
    text-align: center;
    color: white;
 }

h1
{
    text-align: center;
    font-family: 'Kaisei HarunoUmi', serif;

}

.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Learn
{
    background-color: #3498db;
    text-decoration: none;
    color: white;
    font-family: 'Kaisei HarunoUmi', serif;
    padding:15px;
    box-sizing: border-box;
    border-radius: 6px;
}